@media (min-width: 361px) and (max-width: 411px)
{
    .container-fluid
    {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .intro-text
    {
        position: absolute;
        left: 15vw;
        top: 50%;
        width: 60vw;
    }

    .intro1
    {
        font-size: 5vw;
        margin-left: 1.5%;
    }

    .intro2
    {
        font-size: 13vw;
        width: 80vw;
    }

    .intro3
    {
        font-size: 5vw;
        margin-left: 1.5%;
    }

    .intro4
    {
        font-size: 3.75vw;
        width: 80vw;
        margin-left: 1.5%;
        margin-top: 4%;
    }

    .intro-img
    {
        width: 80vw;
        height: auto;
        position: absolute;
        left: -7%;
        top: -100%;
    }

    .wrap
    {
        color: #8C1515;
    }

    @keyframes gbounce 
    { 
        0% { transform: translateY(0); }
        30% { transform: translateY(-2vh); }
        50% { transform: translateY(0); }
        100% { transform: translateY(0); }
    }

    .transition1
    {
        z-index: 1;
        position: relative;
        left: 29vw;
        top: 10vh;
        width: 5vw;

        animation: gbounce 2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }

    .transition1 a 
    {
        font-size: 15vw;
        color: #8C1515;
    }

    .mobile-inactive
    {
        pointer-events: none;
        cursor: default;
    }

    .icons
    {
        z-index: 1;
        position: fixed;
        top: 48vh;
    }

    .icons ul
    {
        list-style: none;
    }

    .icons ul li
    {
        cursor: pointer;
        margin-left: 0.5vw;
        margin-top: 0.5vh;
    }

    .icons ul li i 
    {
        font-size: 5vw;
    }

    .icons ul li a
    {
        color: black;
    }

    .github-link:hover
    {
        color: #8C1515;
    }

    .linkedin-link:hover
    {
        color: #8C1515;
    }

    .devpost-link:hover
    {
        color: #8C1515;
    }

    .email-link:hover
    {
        color: #8C1515;
    }

    .vertical-line1
    {
        border-left: 1px solid #8C1515;
        height: 18vh;
        margin-left: 2.6vw!important;
    }

    .vertical-line2
    {
        border-left: 1px solid #8C1515;
        height: 10vh;
        margin-left: 2.9vw!important;
    }

    .wrapper
    {
        position: relative;
        top: 100%;
        font-size: 2vw;
    }

    .about-me
    {
        position: relative;
        left: 10vw;
        top: 8.5vh;
        width: 85vw;
    }

    .about-me-inc
    {
        color: white;
        position: relative;
        top: -5vh;
        width: 4vw;
    }

    .about-me-title1
    {
        position: relative;
        margin-bottom: 5%;
        font-size: 6.5vw;
        width: auto;
    }

    .about-me-desc1
    {
        position: relative;
        width: 80vw;
        font-size: 4.5vw;
        margin-bottom: 8%;
    }

    .about-me-title2
    {
        position: relative;
        margin-bottom: 5%;
        width: 80vw;
        font-size: 6.5vw;
    }

    .about-me-desc2
    {
        position: relative;
        width: 80vw;
        font-size: 4.5vw;
        margin-bottom: 8%;
    }

    .curiosity
    {
        color: #8C1515;
    }

    .joyfulness
    {
        color: #8C1515;
    }

    .fearlessness
    {
        color: #8C1515;
    }

    .authenticity
    {
        color: #8C1515;
    }

    .responsibility
    {
        color: #8C1515;
    }

    .about-me-title3
    {
        position: relative;
        margin-bottom: 5%;
        width: 80vw;
        font-size: 6.5vw;
    }

    .about-me-desc3
    {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .skills-col1
    {
        font-size: 4vw;
        margin-right: 6vw;
        width: auto;
    }

    .skills-col2
    {
        font-size: 4vw;
        width: 40vw;
    }

    .about-me-img
    {
        position: relative;
        left: 0vw;
        top: 0vw;
        margin-bottom: 10%;
        width: 70vw;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .experience-inc
    {
        color: white;
        position: relative;
        top: 10vh;
    }

    .experience
    {
        position: relative;
        left: 14vw;
        top: 20vh;
        width: 72vw;
    }

    .experience-title1
    {
        position: relative;
        left: -2vw;
        margin-bottom: 5%;
        font-size: 6.5vw;
        width: auto;
    }

    .ibm
    {
        display: flex;
        flex-direction: column;
        margin-left: -1vw;
        margin-bottom: 5%;
        margin-top: 4vh;
    }

    .ibm-img
    {
        align-self: center;
        width: 60vw;
        height: auto;
        margin-right: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .ibm-info
    {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
    }

    .ibm-title
    {
        font-size: 5vw;
        width: 70vw;
    }

    .reebus
    {
        display: none;
    }

    .ibm-role 
    {
        color: #8C1515;
    }

    .ibm-loc
    {
        font-size: 4vw;
        width: auto;
        color:rgb(47, 27, 158);
    }

    .ibm-desc
    {
        font-size: 3.5vw;
        width: 70vw;
    }

    .cansofcom
    {
        display: flex;
        flex-direction: column;
        margin-left: -1vw;
        margin-bottom: 5%;
        margin-top: 4vh;
    }

    .cansofcom-img
    {
        align-self: center;
        width: 60vw;
        height: auto;
        margin-right: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .cansofcom-info
    {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
    }

    .cansofcom-title
    {
        font-size: 5vw;
        width: 70vw;
    }

    .cansofcom-role 
    {
        color: #8C1515;
    }

    .cansofcom-loc
    {
        font-size: 4vw;
        width: auto;
        color:rgb(47, 27, 158);
    }

    .cansofcom-desc
    {
        font-size: 3.5vw;
        width: 70vw;
    }

    .ford
    {
        display: flex;
        flex-direction: column;
        margin-left: -1vw;
        margin-bottom: 5%;
        margin-top: 4vh;
    }

    .ford-img
    {
        align-self: center;
        width: 60vw;
        height: auto;
        margin-right: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .ford-info
    {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
    }

    .ford-title
    {
        font-size: 5vw;
        width: 70vw;
    }

    .ford-role 
    {
        color: #8C1515;
    }

    .ford-loc
    {
        font-size: 4vw;
        width: auto;
        color:rgb(47, 27, 158);
    }

    .ford-desc
    {
        font-size: 3.5vw;
        width: 70vw;
    }

    .wato
    {
        display: flex;
        flex-direction: column;
        margin-left: -1vw;
        margin-bottom: 5%;
        margin-top: 4vh;
    }

    .wato-img
    {
        align-self: center;
        width: 60vw;
        height: auto;
        margin-right: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .wato-info
    {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
    }

    .wato-title
    {
        font-size: 5vw;
        width: 70vw;
    }

    .wato-role 
    {
        color: #8C1515;
    }

    .wato-loc
    {
        font-size: 4vw;
        width: auto;
        color:rgb(47, 27, 158);
    }

    .wato-desc
    {
        font-size: 3.5vw;
        width: 70vw;
    }
    
    .uofc
    {
        display: flex;
        flex-direction: column;
        margin-left: -1vw;
        margin-bottom: 5%;
        margin-top: 4vh;
    }

    .uofc-img
    {
        align-self: center;
        width: 60vw;
        height: auto;
        margin-right: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .uofc-info
    {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
    }

    .uofc-title
    {
        font-size: 5vw;
        width: 70vw;
    }

    .uofc-role 
    {
        color: #8C1515;
    }

    .uofc-loc
    {
        font-size: 4vw;
        width: auto;
        color:rgb(47, 27, 158);
    }

    .uofc-desc
    {
        font-size: 3.5vw;
        width: 70vw;
    }
    

    .projects-inc
    {
        color: white;
        position: relative;
        top: 22vh;
    }

    .projects
    {
        position: relative;
        top: 32vh;
        width: auto;
    }

    .projects-title
    {
        position: relative;
        left: 13vw;
        margin-bottom: 5%;
        font-size: 6.5vw;
        width: 80vw;
    }

    .cpu
    {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 5%;
        width: 80vw;
    }

    .cpu-info
    {
        display: flex;
        flex-direction: column;
        margin: 2vw;
        margin-left: 3vw;
    }

    .cpu-img-flex
    {
        display: flex;
        flex-direction: column;
    }

    .cpu-img
    {
        /*align-self: center;
        width: 60vw;
        height: auto;
        margin-right: 0vw;
        margin: 2vw;
        margin-top: 2.5vh;*/
        display: none;
    }

    .cpu-img-2
    {
        align-self: center;
        width: 77vw;
        height: auto;
        margin-right: 0vw;
        margin: 2vw;
    }

    .cpu-name
    {
        font-size: 4vw;
        width: auto;
    }

    .cpu-desc
    {
        font-size: 3vw;
        width: 74vw;
    }

    .guardian
    {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 10vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 5%;
        width: 80vw;
    }

    .guardian-info
    {
        display: flex;
        flex-direction: column;
        margin: 2vw;
        margin-left: 3vw;
    }

    .guardian-img-flex
    {
        display: flex;
        flex-direction: column;
        margin-top: 2.5%;
    }

    .guardian-img-flex-main
    {
        display: flex;
        flex-direction: row;
    }

    .guardian-img-flex-secondary
    {
        display: flex;
        flex-direction: column;
    }

    .guardian-img-main
    {
        align-self: center;
        width: 37vw;
        height: auto;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .guardian-img-main-last
    {
        align-self: center;
        width: 37vw;
        height: auto;
        margin-right: 2vw;
    }

    .guardian-img-secondary
    {
        align-self: center;
        width: 76vw;
        height: auto;
        margin-top: 2%;
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .guardian-name
    {
        font-size: 4vw;
        width: auto;
    }

    .guardian-desc
    {
        font-size: 3vw;
        width: 74vw;
    }

    .guardian-icons
    {
        display: flex;
        list-style: none;
        font-size: 5vw;
    }

    .guardian-icons li
    {
        margin-right: 1.5vw;
    }

    .guardian-icons li a
    {
        color: black;
    }

    .guardian-github-link:hover
    {
        color: #8C1515;
    }

    .guardian-devpost-link:hover
    {
        color: #8C1515;
    }

    .detritusai
    {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 5%;
        width: 80vw;
    }

    .detritusai-info
    {
        display: flex;
        flex-direction: column;
        margin: 2vw;
        margin-left: 3vw;
    }

    .detritusai-img-flex
    {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }

    .detritusai-img
    {
        align-self: center;
        width: 77vw;
        height: auto;
        margin-right: 0vw;

        margin: 2vw;
    }

    .detritusai-name
    {
        font-size: 4vw;
        width: auto;
    }

    .detritusai-desc
    {
        font-size: 3vw;
        width: 74vw;
    }

    .detritusai-icons
    {
        display: flex;
        list-style: none;
        margin-left: 0vw;
        font-size: 5vw;
    }

    .detritusai-icons li
    {
        margin-right: 1.5vw;
    }

    .detritusai-icons li a
    {
        color: black;
    }

    .detritusai-github-link:hover
    {
        color: #8C1515;
    }

    .detritusai-devpost-link:hover
    {
        color: #8C1515;
    }

    .fireguard
    {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 10vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 5%;
        width: 80vw;
    }

    .fireguard-info
    {
        display: flex;
        flex-direction: column;
        margin: 2vw;
        margin-left: 3vw;
        margin-right: 0vw;
    }

    .fireguard-img-flex
    {
        display: flex;
        flex-direction: column;
        margin-top: 0%;
    }

    .fireguard-img
    {
        align-self: center;
        width: 77vw;
        height: auto;
        margin-right: 0vw;
        margin: 2vw;
    }

    .fireguard-name
    {
        font-size: 4vw;
        width: auto;
    }

    .fireguard-desc
    {
        font-size: 3vw;
        width: 74vw;
    }

    .fireguard-icons
    {
        display: flex;
        list-style: none;
        font-size: 5vw;
    }

    .fireguard-icons li
    {
        margin-right: 1.5vw;
    }

    .fireguard-icons li a
    {
        color: black;
    }

    .fireguard-github-link:hover
    {
        color: #8C1515;
    }

    .fireguard-devpost-link:hover
    {
        color: #8C1515;
    }

    .outro 
    {
        position: relative;
        top: 40vh;
        width: auto;
    }

    .outro-1
    {
        text-align: center;
        width: auto;
        font-size: 7vw;
        margin-left: 5vw;
        margin-bottom: 4%;
    }

    .outro-2
    {
        text-align: center;
        width: 70vw;
        font-size: 3vw;
        margin-left: 11.5vw;
        line-height: 2.5vh;
        margin-bottom: 8%;
    }

    .outro-btn-flex
    {
        display: flex;
        flex-direction: row;
        margin-left: 20vw;
        margin-bottom: 50%;
    }

    .outro-btn-flex button
    {
        margin-right: 2vw;
        background-color: white;
        padding: 0.3vw 0.9vw;
        border: 2px solid #8C1515;
        font-size: 4vw;
        transition: 0.4s;
        cursor: pointer;
        text-decoration-color: black;
    }

    .email-btn:hover
    {
        background-color: #8C1515;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .resume-btn:hover
    {
        background-color: #8C1515;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .linkedin-btn:hover
    {
        background-color: #8C1515;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .email-btn-link
    {
        text-decoration: none;
        color: black;
    }

    .email-btn-link:hover
    {
        text-decoration: none;
        color: white;
    }

    .resume-btn-link
    {
        text-decoration: none;
        color: black;
    }

    .resume-btn-link:hover
    {
        text-decoration: none;
        color: white;
    }

    .linkedin-btn-link
    {
        text-decoration: none;
        color: black;
    }

    .linkedin-btn-link:hover
    {
        text-decoration: none;
        color: white;
    }
}